<h2>Forms</h2>
                        
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Forms</a></li>
    <li role="presentation"><a href="#/fields">Fields</a></li>
</ul>

<div class="row" style="border: 2px solid black; margin-left: 0">
    <table class="table table-striped" style="border: 1px solid black; margin: 5px; width: 98%">
        <thead>
            <tr class="activecell borderedcell" style="width:100%">
                <th><button class="glyphicon glyphicon-triangle-bottom"></button> Form Name </th>
                <th><button class="glyphicon glyphicon-triangle-bottom"></button> Action </th>
            </tr>
            <tr>
                <th><input ng-model="model.newForm.title" placeholder="name" class="form-control"/></th>
                <th>
                    <button ng-click="model.addForm()" class="glyphicon glyphicon-plus"></button>
                    <button ng-click="model.updateForm()" class="glyphicon glyphicon-ok"></button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="form in model.forms">
                <td><a href="#/user/:userId/form/:formId/fields" ng-click="model.saveFormId(form)">{{form.title}}</a></td>
                <td>
                    <button ng-click="model.deleteForm($index)" class="glyphicon glyphicon-remove"></button>
                    <button ng-click="model.selectForm($index)" class="glyphicon glyphicon-pencil"></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>